.main-bar{
    margin-top:60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:600px;
    margin-left: 420px;
    padding-top:60px;
    background-color: rgb(247,247,247);
}
.Create-post{
    margin-left:20px;    
}
.create-post-section{
    width:100%;
    background-color:#ffffff;
    border-radius:0px 0px 20px 20px;   
}
.header-post-section{
    margin-left:30px;
    
    padding-bottom: 20px;
    align-items:center ;        
}
.header-post-section img{
    margin-bottom: -10px;
    background-color:rgb(240, 240, 240);
    padding:10px;
    margin-top:20px;
    border-radius: 50px;
}
.header-post{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 15px;
    color:#b7b7b7;
    font-size:15px;
    font-weight: 600;
    letter-spacing: .06rem;
}
.header-textbox{
    padding-left:30px;
    padding-bottom: 30px;
}
.header-textbox textarea{
    padding:10px 0px 10px 30px;
    border:solid 3px #7373733e;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%; 
    resize:horizontal; 
    border-radius: 10px;
    margin-right:30px;   
}
.header-textbox textarea:focus{
    outline: none;
}

.header-textbox .img-upload{
    position:absolute;
    margin-top: 13px;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    margin-left: 35px;
    border: none;
    background: linear-gradient(45deg,#ff0303d8,#ff0659d5);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    transition: .4s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: linear-gradient(45deg,#ff1010ea,#d00045dd);
  }

.header-textbox .upload-submit{
    margin-right: 20px;
    margin-left: 35px;
    border: none;
    background: linear-gradient(135deg,#03a3ffc9,#2b00ffbb);
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    margin-top: 10px;
    
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.header-textbox .upload-submit:hover{
    background: linear-gradient(135deg,#03a3ffe8,#7300ffd3);
}

.main-bar-header{
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top:-45px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px ;
    
}

.main-bar-header.fixed{
    
    position: fixed;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255,0.8);
    backdrop-filter: blur(3px);
    border-radius: 0px 0px 10px 10px ;
}
.Home-header-section{   
    padding-bottom:20px;
}
.Home-Header{
    padding-top: 10px;
    padding-left:30px;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
    letter-spacing: .09rem;
}
.link-main{
    margin-top: 25px;
}

.link-main a{
    
    width:118px;  
    font-size: 20px;
    color:black;
    text-decoration: none;
    padding:20px 110px 20px 111px;
    justify-content: space-between;
    transition: .1s ;
}
.link-main a:hover{  
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 7px;
}
.link-main a:focus{
    border-bottom: solid 5px #e43737cd;    
}

.Display-post{
    background-color: white;
    margin-left:20px;
    margin-top:30px;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.Display-content1{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px #888888b1;
}
.User-photo-content{
    margin-top: 15px;
    margin-left: 5px;
}
.Display-content1 h3{
    margin-left: 20px;
    margin-right: -100px;
    font-size: 19px;
    font-weight: 300;
     
}
.display-user-content{
    display: flex;
    
}
.display-user-content p{
    
    padding-top: 10px;
    font-size: 15px;
    color:#2c2c2c;
}
.share-bn{

    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease-in-out;
}
.share-bn:hover{
    margin-top: 5px;
}
.follow-btn{
    right:100%;
    margin-left: 380px;
    margin-right: 10px;
    margin-top:10px;
    margin-bottom: 7px;    
    padding:13px 20px 13px 20px;
    font-size: 14px;
    border:none;
    background: linear-gradient(135deg,#03a3ffe8,#7300ffd3);
    color:white;
    border-radius: 5px;
    transition: width 2s, height 2s, transform 2s;
    letter-spacing: .08rem;
}

.follow-btn:hover{
    
    background: linear-gradient(-135deg,#03a3ffe8,#7300ffd3);
}

.Display-content2{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    justify-content: space-between;
    align-items: center;
}
.Display-content2 img{
    margin-left: 20px;
    align-items: center;
    border-radius: 5px;
    
}
.Display-content2 p{
    margin:10px 10px 20px 20px;
    
}

.Display-content3{
    margin-left: 30px;
    padding-bottom: 10px;
    
}

