
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Raleway:ital,wght@0,300;0,400;0,700;1,800&display=swap');


.main-nav{
    align-items: center;
    min-height:80px;
    width:100%;
    margin:0% auto;
    position:fixed;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.3);
    z-index: 5;
    top:0%;
    left:0%; 
    background-color: rgba(255, 255, 255, 0.5) ; 
    backdrop-filter: blur(3px);

}
.navbar{
    align-items: center;   
    min-height: 80px;
    min-width: 100%;
    display: flex;
    float: left;
    justify-content: space-between;
    
}
.nav-logo{
    margin-left:80px;
    margin-top:-10px;
    text-decoration: none;
}
.nav-text{   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-left: -20px;
    z-index:1;
    margin-top: -55px;
    letter-spacing: .2rem;
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 300;
    color:black;
}
.Main-icon{
    z-index: -1;
    margin-left:20px;
}
.navbar form{
    margin-left: -50px;
    position: relative;
}
.navbar form input{
    font-family:'Trebuchet MS', sans-serif;   
    min-width: 30%;
    margin:0;
    padding:15px 150px 15px 40px;
    border:none;
    border-radius: 50px;
    background-color:rgb(240, 240, 240) ;
}
.navbar form input:focus{
    outline: none;
}
.navbar .input-icon{
    position: absolute;
    top:10px;
    left:10px;
    opacity: 80%;
}
.navbar .icon1{
    margin-left: -50px;
    background-color: rgb(240, 240, 240);
    padding:10px;
    border-radius: 50px;
}
.navbar .icon2{
    margin-left: -150px;
    background-color: rgb(240, 240, 240);
    padding:10px;
    border-radius: 50px;
}
.navbar .icon3{
    margin-left: -250px;
    background-color: rgb(240, 240, 240);
    padding:10px;
    border-radius: 50px;
}

@media only screen and (max-width:600px){
    .main-nav{
        align-items: centre;
        width:100%;
    }
    .navbar{
        
        max-height:60px;


        
    }
    .nav-logo{
        margin-top:-15px;
        margin-left:70px;
    }

    .nav-text{
        font-size:25px;
    }
    .navbar form{
        visibility: hidden;
    }
}